 <div class="page-container">
 <div class="container">
  <nav class="navbar navbar-fixed-top navbar-dark" style="background-color: #313845">
  	<button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        ☰
    </button>
     <%= image_tag("resolution_logo.png", :class=>"img-responsive navbar-brand", :style=>"height:70px;padding:0")%>
   <div class="collapse navbar-toggleable-xs" id = "collapsingNavbar">
   	
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item active">
                <a class="nav-link" href="/home/index">Login as Judge</a>
            </li>
        </ul>
    </div>
</nav>


	 <div class="row row-offcanvas row-offcanvas-left">
	    <%= render :partial => '/adminlinks' %>
	      <!-- main area -->
        <div class="col-xs-12 col-sm-9">
        	<h2>New Team</h2>
          <%= form_for :team, url:team_create_path  do |f| %>

            <%= f.label(:name, "Name")%>
            <%= f.text_field :name %>

            <%= f.label(:members, "Members")%>
            <p><%= f.text_area :members %></p>

            <%= f.label(:description, "Description")%>
            <p><%= f.text_area :description %></p>

            <%= f.label(:summary, "Summary")%>
            <p><%= f.text_area :summary %></p>

            <%= f.submit %>

        <% end %>
        <%= link_to 'Back', {:action => 'list'} %>
         </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->
<script>
	$(document).ready(function() {
	  $('[data-toggle=offcanvas]').click(function() {
	    $('.row-offcanvas').toggleClass('active');
	  });
	});
</script>

<style>



</style>
